$purple: #6415B7;
$light_grey: #f2f2f2;

.Products {
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   max-width: 520px;
   width: 100%;
   min-height: 100%;   
   margin: auto;
   background: white;
   overflow: hidden;

   .product_container {
      display: flex;
      flex-direction: column;
      height: 300px;
      margin: 30px 10px;
      padding: 0 10px;

      .img_content {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 300px;
         background: $light_grey;
         border-radius: 10px;

         img {
            padding: 20px 0;
            width: 140px;
            height: 220px;
            object-fit: cover;
         }
   
         .cart_img {
            position: absolute;
            right: 25px;
            bottom: 10px;
            padding: 8px;
            font-size: 20px;
            color: $purple;
            background: #fff;
            border: 1px solid $purple;
            border-radius: 50%;
            cursor: pointer;
         }
      }

      .product_info {
         padding: 10px 0;

         .price {
            display: flex;
            flex-direction: row-reverse;
            font-weight: 900;
         }
      }
   }
}
